<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <mate name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script src="../../../../assets/js/mobiles/jquery-2.1.1.min.js"></script>
    <script src="../../../../assets/js/mobiles/sys.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../assets/css/mobiles/index.css">
    <title>注册协议</title>
</head>
<body>
    <div class="header header_fix">
        <p class="tc">注册协议</p>
        <img src="../../../../assets/images/mobiles/23.png" class="zclan">
    </div>
    <div class="zwhead"></div>
    <h1>聚雪球注册及网站服务协议</h1>
    <p class="p3">“聚雪球互联网平台”由沈阳网加互联网金融服务有限公司注册并负责运营，以下所称“聚雪球”即包含了网站本身、沈阳网加互联网金融服务有限公司。贵方在注册“聚雪球”取得用户身份时勾选同意本服务协议并成功注册为“聚雪球”用户，视为贵方已经充分理解和同意本服务协议全部内容，并签署了本服务协议，本服务协议立即在贵方与本公司之间产生合同法律效力，在贵方注册成为”聚雪球”用户前，贵方已认真、仔细阅读并充分理解本协议的所有条款、内容。在贵方同意以下条款并注册后，将有权依据本协议的条款享受”聚雪球”提供的服务，同时有义务接受本协议条款的约束，若贵方不接受以下条款，请贵方立即停止注册或主动停止使用”聚雪球”的服务。</p>
    <p class="p3">网加服务平台提醒您认真阅读本协议、充分理解各条款内容后再选择是否接受本协议。如果您不同意本协议的约定，您应立即停止注册程序或停止使用网加服务平台的服务。您一经注册或使用网加服务平台服务即视为充分理解并完全接受本协议全部条款。在协议履行过程中，网加服务平台可根据实际情况对协议的相关条款进行修改变化。一旦协议内容发生变动，网加服务平台将通过网站公布最新的服务协议，不再向用户作个别通知。如果用户不同意网加服务平台对协议所做的修改，有权停止使用网加服务平台服务。如果用户继续使用网加服务平台服务，则视为接受网加服务平台对协议所做的修改，并应遵照修改后的协议履行应尽义务。如新旧规则或协议之间冲突或矛盾的，</p>
    <!--懒加载-->
    <div class="lazy">
        <div class="ajx_nr ajx_nr_1">
            <div class="ajx_logo">
                <div class="ajx_tu">
                    <div class="ajx_quan"></div>
                    <div class="four_one"></div>
                </div>
                <div class="ajx_j">J</div>
            </div>
            <div class="ajx_wz">处理中...</div>
        </div>
    </div>
    <!--懒加载-->
</body>
jQuery(function($) {
      
})
</html>