/*个人中心 － 左侧公共区域*/
.m-personal{ background:#fff; margin:20px auto;}
.g-personal-left{ width:258px; display: inline-block;*display: inherit;*zoom:1; border:1px solid #e3e4eb; padding-bottom:10px;}
.g-personal-right{width:900px; height:auto; display: inline-block;*display: inherit;*zoom:1; }
.m-personal-basic{ float:left; margin:10px; display:inline; height:116px; border-bottom:1px solid #e3e4eb;}
.m-personal-basic .m-personal-basic-head{ width:67px; height:69px; float:left; overflow:hidden;}
.m-personal-basic .m-personal-basic-renz{ width:146px; height:auto; float:left; margin-left:16px;}
.m-personal-basic .m-personal-basic-renz h1{ font-size:18px; font-weight:normal; height:30px; margin-top:14px;} 
.m-personal-basic .m-personal-basic-renz .item{ width:auto; height:18px; float:left; margin-right:10px;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_phone{ width:12px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -3px 0;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_phone:hover,
.m-personal-basic .m-personal-basic-renz .z-sel .personal_basic_phone
{ width:12px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -3px -32px;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_id{ width:26px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -17px 0;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_id:hover,
.m-personal-basic .m-personal-basic-renz .z-sel .personal_basic_id
{ width:26px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -17px -32px;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_email{ width:23px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -45px 0;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_email:hover,
.m-personal-basic .m-personal-basic-renz .z-sel .personal_basic_email{ width:23px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -45px -32px;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_xinyong{ width:18px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -71px 0;}
.m-personal-basic .m-personal-basic-renz .item .personal_basic_xinyong:hover,
.m-personal-basic .m-personal-basic-renz .z-sel .personal_basic_xinyong{ width:18px; height:18px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -71px -32px;}
.m-personal-basic .m-personal-basic-safe{ width:238px; height:30px; float:left; margin-top:8px; line-height:30px;}
.m-personal-basic .m-personal-basic-safe p{ width:50px; height:30px; float:left; font-size:12px; }
.m-personal-basic .m-personal-basic-safe .bar{position: relative; width: 80px; height: 8px; float:left; margin:12px 4px; background-color: #D9D9D9; border-radius: 4px; vertical-align:middle}
.m-personal-basic .m-personal-basic-safe .bar .value{position:absolute; width:auto; height: 8px; float:left; background-color: #6aa71b; border-radius: 4px; vertical-align:middle}
.m-personal-basic .m-personal-basic-safe .bar a{ color:#0088cc;}
.m-personal-basic .m-personal-basic-safe a{color:#0088cc;}
.m-personal-do{ width:238px; height:90px; float:left; margin:10px; display:inline; border-bottom:1px solid #e3e4eb;}
.m-personal-do .m-personal-do-je{ font-size:26px; color:#4d4d4d; font-weight:bold; margin:6px 0;}
.m-personal-do .btn_cz{ width:60px; height:26px; float:left; line-height:26px; text-align:center; font-size:14px; cursor:pointer; border-radius:4px; background-color:#da251c; color:#fff;}
.m-personal-do .marginleft{ margin-left:10px;}
.m-personal-do .btn_tz{ width:58px; height:24px; float:left; line-height:26px; text-align:center; font-size:14px; cursor:pointer; border-radius:4px; border:1px solid #cccccc; margin-left:10px; color:#333333;}
.m-personal-list{ width:248px; height:auto; float:left; margin-left:10px; padding-bottom:20px;}
.m-personal-list .personal_list_ta span{ width:248px; height:42px; float:left; line-height:42px; font-size:14px; border-bottom:1px solid #e3e4eb}
.m-personal-list .personal_list_ta span a{ color:#333333;}
.m-personal-list .personal_list_ta span a:hover{ color:#3dbdff}
.m-personal-list .personal_list_ta span a em{ width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -17px -90px; margin-top:14px;}
.m-personal-list .personal_list_ta span a:hover em{ width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -17px -130px; margin-top:14px;}
.m-personal-list .personal_list_tb li{ width:248px; height:40px; float:left; line-height:40px; border-bottom:1px solid #e3e4eb; border-left:1px solid #e3d3eb; text-indent:22px;}
.m-personal-list .personal_list_tb li a{ width:248px; height:40px; float:left; line-height:40px; font-size:12px; color:#333333;}
.m-personal-list .personal_list_tb li a:hover{ width:248px; height:40px; float:left; line-height:40px; font-size:12px; color:#da251c; background-color:#fff;}
.m-personal-list .personal_list_tc span a em{width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -48px -90px; margin-top:14px;}
.m-personal-list .personal_list_tc span a:hover em{width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -48px -130px; margin-top:14px;}
.m-personal-list .personal_list_td span a em{width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -82px -90px; margin-top:14px;}
.m-personal-list .personal_list_td span a:hover em{width:22px; height:17px; float:left; background:url(../images/personal/wallet_all.png) no-repeat -82px -130px; margin-top:14px;}

/*个人中心右侧标题*/
 .g-personal-right .maintitle{ width:876px; height:57px; border-bottom:2px solid #808080; line-height:57px;}
.g-personal-right .maintitle dt{ font-size:18px;  width:auto; height:auto; float:left;}
.g-personal-right .maintitle dd{ width:400px; height:40px; float:right; margin-top:10px; font-size:14px; text-align: right;padding-right:5px;}
.g-personal-right .head-color{font-weight:bold; color:#ec7c02; }

/* 个人中心－账户概况 */
.m-wallet .assets{ width:876px; height:132px; background:#ebf1f5; margin-top:20px;}
.m-wallet .assets .wallet_r_ye{ width:216px; height:110px; float:left; text-align:center; vertical-align:middle; border-right:1px dotted #e1e1e1; margin-top:10px;}
.m-wallet .assets .wallet_r_ye h2{ font-size:14px; color:#666666; width:216px; height:30px; margin-top:10px;}
.m-wallet .assets .wallet_r_ye h1{font-size:26px; color:#4d4d4d; font-weight:bold; margin:20px 0;}
.m-wallet .assets .wallet_r_ye h1 i,.wallet_r_ye .wallet_r_yes i{ font-size:12px; font-weight:normal; color:#666666;}
.m-wallet .assets .wallet_r_ye .wallet_r_yes{ color:#da251c;}
.m-wallet .assets .wallet_r_yeno{border-right:none;}
.m-wallet .assets .wallet_r_data{ width:874px; height:264px; float:left; border:1px solid #e3e4eb; margin-top:20px;}
.m-wallet .assets .wallet_r_data .wallet_r_datamain{ width:824px; height:232px; float:left; margin:10px 20px;}
.m-wallet .assets .wallet_r_data .wallet_r_datamain dt{ width:824px; height:159px; float:left; border-bottom:1px solid #666666;}
.m-wallet .assets .wallet_r_data .wallet_r_datamain dd{ width:824px; height:40px; float:left; margin-top:10px;}
.m-wallet .assets .wallet_r_data .wallet_r_datamain dd p{ width:136px; height:40px; float:left; text-align:center; line-height:24px; font-size:14px; }
.m-wallet .chart{ width:874px; height:264px; border:1px solid #e3e4eb; margin-top:20px;position: relative;}
/*图表*/
.m-diagram-wrap{ position:absolute; left:0; top:0; z-index:5; background:#fff; width:100%; font-size:0; line-height:0; overflow:hidden; height:250px;font-size:12px;}
.g-diagram{ height:160px; width:98%; position:absolute; left:15px; top:40px}
.g-diagram .assets-entry{ height:160px; width:100%; position:relative}
.g-diagram .g-d-cols{ float:left; display:inline; width:16%; height:100%; position:relative; border-bottom:1px solid #abb0b5; }
.g-diagram .total{ width:100%; position:absolute; bottom:0; left:0; border-top:1px dashed #abb0b5;border-top:0;}
.g-diagram .diagrambar{width:60%; height:100%; background:#15456f; position:absolute; bottom:0; left:0}
.g-diagram .differ{ background:#fff; width:100%; position:absolute; right:40%; bottom:0; border-top:1px dashed #abb0b5;border-top:0;}
.g-diagram .colvalue,.assets-group h2{ width:100%; position:absolute; left:0; top:-20px; font-weight:normal; font-size: 14px;}
.g-diagram h2{ top:auto; bottom:-30px; height:20px; line-height:20px; display:block; position:absolute;}
.g-diagram .icons{ position:absolute; left:auto; top:4px; margin-left:3px}
.g-diagram .line{ position:absolute; top:-1px; right:0; background:#fff; width:40%; height:101%; line-height:0; overflow:hidden}
.m-wallet .record{ width:874px; height:360px; float:left; border:1px solid #e3e4eb; margin-top:20px;}
.m-wallet .record .rectitle{ width:874px; height:40px; float:left; border-bottom:1px solid #e3e4eb; font-size:14px;   line-height:40px;}
.m-wallet .record .rectitle p{ width:206px; height:40px; float:left; text-align:center;}
.m-wallet .record .rectitle p span{ color:#3dbdff;}
.m-wallet .record .tl{ width:874px; height:36px; float:left; border-bottom:1px solid #e3e4eb; line-height:36px;}
.m-wallet .record .time,.m-wallet .record .month{ width:90px;  height:36px; float:left;  text-align:center;}
.m-wallet .record .pro{ width:360px;  height:36px; float:left;  text-align:left; overflow:hidden;}
.m-wallet .record .money,.m-wallet .record .year{ width:120px;  height:36px; float:left;  text-align:center;}
.m-wallet .record .do{ width:80px;   height:36px; float:left; text-align:center;}
.m-wallet .record .tm{ width:874px; height:60px; float:left; border-bottom:1px solid #e3e4eb; margin-top:10px;  font-size:12px; color:#888888;}
.m-wallet .record .money h4,.m-wallet .record .year h4,.m-wallet .record .month h4{ font-size:16px; font-family:'Microsoft Yahei'; color:#f08d00;}

/*个人中心 －系统消息样式重写*/
.g-personal-right .m-message .list{margin-bottom:15px;}
.g-personal-right .m-message .list th{background:none;border-bottom:2px solid #dedede; line-height:30px; font-size:14px; color:#666666;}
.g-personal-right .m-message .list .send_time{float:right;}
.g-personal-right .m-message .list tr:nth-child(2n + 1){background-color:#fff;}

/*安全保障*/
.w100{width:100%; float:left;}
.w1200{width:1200px; margin:0 auto;}
.m-safe .s-banner{background:url(../images/page/safe_bannerbg.png) repeat-x; height:372px;}
.m-safe .s-bgclor-one{background:#f2f6fc;}
.m-safe .s-bgclor-two{background:#ffffff;}
.m-safe .s-tzr{position:relative; margin:30px 0; min-height:330px; background:url(../images/page/safe_01.png) no-repeat top right;}
.m-safe .s-jkr{background:none;}
.m-safe .s-tzr-title dt{width:49px; hanging-punctuation:49px; border:1px solid #b3b3b3; text-align:center; line-height:49px; border-radius:50%; font-size:34px; color:#b3b3b3; float:left; display:inline-block;}
.m-safe .s-tzr-title .s-tzr-title-border{width:30px; height:27px; float:left; border-bottom:1px solid #b3b3b3; margin-right:10px;}
.m-safe .s-tzr-title .s-tzr-title-mian{font-size:24px; color:#333333px; width:800px; float:left; margin-top:13px;}
.m-safe .s-tzr-text01{width:580px; float:left; padding-left:88px; line-height:30px; color:#666666; font-size:14px; margin-top:5px;}
.m-safe .s-tzr .s-tzr-btn a{min-width:307px; height:48px; line-height:48px; font-size:24px; color:#ffffff; font-weight:bold; background:#ff6600;-moz-border-radius: 3px; -webkit-border-radius:3px; border-radius:3px; float:left; padding-left:15px; margin-bottom:17px;}
.m-safe .s-tzr .s-tzr-btn{padding-left:88px; width:920px; margin-top:60px;} 
.m-safe .s-tzr .s-tzr-btn a i{background:url(../images/page/safe_06.png) no-repeat; width:11px; height:20px; display:inline-block; margin-right:5px;}
.m-safe .s-tzr .s-tzr-btn-text02{width:332px; float:left; margin-right:58px; line-height:30px; color:#666666; font-size:14px;}
.m-safe .s-tzr .s-tzr-btn-text02 p{width:100%; float:left;}


.m-safe .s-jkr .s-tzr-btn{background: url(../images/page/safe_02.png) no-repeat left; padding-left:255px; width:925px;}
.m-safe .s-jkr .s-tzr-btn .s-tzr-btn-text02{min-width:360px;}
.m-safe .s-jkr .s-tzr-btn .s-tzr-btn-text02 p{min-width:400px;}
.m-safe .s-tg .s-tzr-btn-text02 p{width:455px; float:left;}
.m-safe .s-tg{background:url(../images/page/safe_03.png) no-repeat right; min-height:430px;}

.m-safe .s-tg .s-tzr-text01{width:440px;}
.m-safe .s-tg .s-tzr-btn a{min-width:440px;}

.m-safe .s-bz{background:#fff url(../images/page/safe_04.png) no-repeat right; width:970px; min-height:250px; }
.m-safe .s-aq{background:none;}
.m-safe .s-aq .s-tzr-btn-text02 a{min-width:465px; margin-top:15px;}
.m-safe .s-aq .s-tzr-btn{background:url(../images/page/safe_05.png) no-repeat left; padding-left:405px; width:735px; min-height:250px;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}/*新手指南*/
.m-tiro .adv{ width:100%; height:300px; float:left; background:#f4e57e;}
.m-tiro .adv dd{ width:1413px; height:300px; margin:0 auto;}
.m-tiro .aboutus{ width:100%; height:360px; float:left; background:#f2f6fc; text-align:center;}
.m-tiro .aboutus .about_content{ width:1100px; height:290px; float:left; padding:20px; display:inline;}
.m-tiro .aboutus dt,.m-tiro .super .super_content dt,.m-tiro .product .product_content dt,.m-tiro .how .how_content dt{ font-size:32px;line-height: 2.5em;}
.m-tiro .aboutus dd{ font-size:16px; padding-top:20px; line-height:30px; color:#777777;}
.m-tiro .process{ width:100%; height:500px; float:left; background:#fff;}
.m-tiro .process .process_content{ width:1200px; height:592px; float:left;}
.m-tiro .process dt{ width:1054px; height:430px; float:left;}
.m-tiro .process dd{ width:290px; height:50px; float:left; text-align:center; font-size:18px; color:#d97322; border-right:1px dashed #cccccc;}
.m-tiro .process dd em{ width:290px; height:20px; float:left; margin-top:10px; font-size:14px; color:#808080;}
.m-tiro .process .no_border{ border-right:none;}
.m-tiro .super{ width:100%; height:400px; float:left; background:#f2f6fc;}
.m-tiro .super .super_content{ width:1140px; height:360px; float:left; padding:20px; text-align:center;}
.m-tiro .super .super_content .super_cone{ width:260px; height:360px; float:left; overflow:hidden;}
.m-tiro .super .super_content .margin_left{ margin-left:30px;}
.m-tiro .super .super_content .super_cone h2{ font-size:18px; color:#666666;}
.m-tiro .super .super_content .super_cone p{ font-size:14px; color:#808080; line-height:30px; margin-top:20px;}
.m-tiro .product{ width:100%; float:left; background:#fff; text-align:center;}
.m-tiro .product .product_content .product_cone{ width:360px; height:226px; float:left; border:1px solid #c4c4c4; margin:14px;}
.m-tiro .product .product_content .product_cone h2{ width:360px; height:60px; float:left; border-bottom:1px solid #c4c4c4; line-height:60px; font-size:18px; color:#d97322; text-align:left; text-indent:14px;}
.m-tiro .product .product_content .product_cone h2 i{ width:37px; height:35px; float:left; margin:10px 4px;}
.m-tiro .product .product_content .product_cone h2 em{ font-size:14px;}
.m-tiro .product .product_content .product_cone p{ width:344px; height:180px; float:left; line-height:30px; font-size:14px; color:#808080;}
.m-tiro .product .product_content .product_cone p span{ color:#d97322;}

.m-tiro .how{ width:100%; height:730px; float:left; background:#f2f6fc; text-align:center;}
.m-tiro .how .how_content{ padding:20px;}
.m-tiro .how .how_content .how_step{ width:1200px; height:88px; float:left;}
.m-tiro .how .how_content .how_step .step1{ width:231px; height:88px; float:left; background:url(../images/page/step.png) no-repeat 0 0;}
.m-tiro .how .how_content .how_step .step1.hover{ background-position: 0 -99px;}
.m-tiro .how .how_content .how_step .step2{ width:231px; height:88px; float:left; background:url(../images/page/step.png) no-repeat -243px 0;}
.m-tiro .how .how_content .how_step .step2.hover{ background-position: -243px -99px;}
.m-tiro .how .how_content .how_step .step3{ width:231px; height:88px; float:left; background:url(../images/page/step.png) no-repeat -488px 0;}
.m-tiro .how .how_content .how_step .step3.hover{ background-position: -488px -99px;}
.m-tiro .how .how_content .how_step .step4{ width:231px; height:88px; float:left; background:url(../images/page/step.png) no-repeat -734px 0;}
.m-tiro .how .how_content .how_step .step4.hover{ background-position: -734px -99px;}
.m-tiro .how .how_content .how_step .step5{ width:231px; height:88px; float:left; background:url(../images/page/step.png) no-repeat -972px 0;}
.m-tiro .how .how_content .how_step .step5.hover{ background-position: -972px -99px;}
.m-tiro .how .how_content .how_main dt{ width:57px; height:86px; float:left; margin-top:100px;}
.m-tiro .how .how_content .how_main dd{ width:1004px; height:498px; float:left;}

/*合同协议*/
.m-trust{ width:auto; float:left; height:auto; background:#fff; margin:20px 0;}
.m-trust .trust_title{ font-size:18px; color:#f57503; padding:20px;}
.m-trust .trust_jia{ width:1000px; height:140px; float:left; padding:20px; color:#666666;}
.m-trust .trust_jia li{ width:1000px; height:30px; float:left; line-height:30px;}
.m-trust .trust_content{ width:1140px; height:auto; float:left; padding: 10px 20px; line-height:30px; color:#666666;}
.m-trust .trust_content dt{ font-size:16px; color:#f57503;}
.m-trust .trust_content dd{ margin-top:10px;}
.m-trust .trust_pa dd{ width:500px; height:120px; float:left;  padding:20px; color:#666666;}
.m-trust .trust_pa dd p{ width:500px; height:40px; float:left; line-height:40px; font-size:16px; padding-bottom:20px;}
.m-trust .trust_pa dd span{ width:500px; height:24px; float:left;}
.m-trust .trust_time{ width:1100px; text-align:right; height:30px; float:left; padding-bottom:20px; font-size:16px;}
.m-trust .trust_jia span{ width:150px; height:24px; float:left; text-align:right; padding-right:20px;}
.m-trust input{width:auto; height:auto; border-bottom:1px solid #666666; padding:0 30px 0 10px; font-weight:normal; border-top:none; border-left:none; border-right:none;}
.m-trust em{ border-bottom:#999 solid 1px; padding:0 10px; min-width:200px; height:24px; display:inline-block;vertical-align: text-bottom;}
.m-trust .btn_a{ min-width:100px;}
.m-trust .btn_b{ min-width:60px;}
.m-trust .trust_content em{ text-align:center;}
/*在线客服*/
.main-im {
    height: 120px;
    position: fixed;
    right:20px;
    top:300px;
    background: #7a7a7a; 
    z-index: 9999;
}
.main-qq,.main-cal,.main-top{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.main-qq{
    background: url(../images/qq.png) no-repeat center;
}
.main-qq:hover{
    background: #ff9000 url(../images/qq.png) no-repeat center;
}
.main-cal{
    background: url(../images/cal.png) no-repeat center;
}
.main-cal:hover{
    background: #ff9000 url(../images/cal.png) no-repeat center;
}
.main-top{
    background: url(../images/top.png) no-repeat center;
}
.main-top:hover{
    background: #ff9000 url(../images/top.png) no-repeat center;
}
.main-info,.main-service{
    width: 320px;
    height: 400px;
    position: absolute;
    left: -320px;
    top:-100px;
}

.touzi{
    background: #364047;
    padding:40px 40px;
    color:#fff;
}
.jiekuan{
    background: #364047;
    padding:40px 40px;
    color:#fff;
}
.qq{
    width: 240px;
	height: 330px;
    background: url(../images/kfbg.png) no-repeat center;
    margin-left: 80px;
    color:#fff;
}

.main-box h1 {
    letter-spacing: 5px;
    text-align: center;
    font-size: 18px;
}
.main-box hr{
    margin: 15px 0px;
}
.main-block-l{
    float: left;
    color: #999999;
}
.main-block-r{
    float: right;
}
.main-block-r div{
    margin-bottom: 10px;
}
.main-block{
    margin-top: 35px;
}
.main-info ul li{
    height: 40px;
    line-height: 40px;
    font-size:18px;
    color:#fff;
    width:50%;
    text-align: center;
    display: inline-block;
    *display: inline;
    background: #9c9d9d;
    cursor: pointer;
}
.main-info ul li.active{
    background: #364047;
}
.b-f-row{
  position: relative;
  margin-top: 10px;
  margin-left: 69px;
  height: 30px;
  vertical-align: middle;
}
.b-f-row input{
	height: 32px;
    width: 140px;
    vertical-align: middle;
    border: none;
}
.b-f-row .name{
    position: absolute;
    line-height: 30px;
    height: 30px;
    width: 70px;
    left: -70px;
    vertical-align: middle;
}
.b-f-row select{
    padding:5px;
 /*   font-size: 50px;*/
    width: 170px;
}
.b-f-row button{
    padding:10px 0px ;
    background: #ff9000;
    border:none;
    width:170px;
    color:#fff;
}
/*抵押物详细修改2014-11-10*/
.clear{clear:both;}
.clearfix:after{content:"."; display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.m-pawnDetail .pawn_a{ width:1100px; height:auto; float:left; padding:20px;}
.m-pawnDetail .pawn_a h1,.m-pawnDetail .pawnDetail_title{ color:##282828; font-size:16px;  font-weight:normal; background-color:#fff;}
.m-pawnDetail .pawn_a p{ line-height:30px; font-size:14px; margin-top:20px; color:#666666;}
.m-pawnDetail .pawn_b,.m-pawnDetail .pawn_c{width:1160px; height:auto; float:left; margin:0 30px;}
.m-pawnDetail .pawn_b h1,.m-pawnDetail .pawn_c h1{ background:#f4f3f3;}
.m-pawnDetail .pawn_b h1,.m-pawnDetail .pawn_b h2,.m-pawnDetail .pawn_c h2,.m-pawnDetail .pawn_c h1{ width:1140px; height:40px; line-height:40px; float:left; text-indent:30px;  }
.m-pawnDetail .pawn_js { width:1100px; height:110px; float:left; margin:10px 0;}
.m-pawnDetail .pawn_c .pawn_data{ width:1100px; height:auto; float:left;  margin:10px 0; border:1px solid #e3e3e3; padding:20px;}
.m-pawnDetail .pawn_data dl{ width:1000px; height:auto; float:left;}
.m-pawnDetail .pawn_data dd{ width:32%; height:30px; float:left;}
.m-pawnDetail .pawn_data dd span{ color:#ff7100;}
.m-pawnDetail .pawn_data ul{ width:1000px; height:auto; float:left;} 
.m-pawnDetail .pawn_data ul .paen_ck{ width:1000px; height:30px; float:left;}
.m-pawnDetail .pawn_data ul .paen_cimg{ width:134px; height:35px; float:left; margin-left:10px;}
.m-pawnDetail .slider .slider-next, .m-pawnDetail .slider .slider-prev{ top: 49px;}
/*个人中心-我的分修改2014-11-18*/
.mt{ margin-top:10px;}
.mt20{ margin-top:20px;}
.bt_xxk{ width:100%; height:46px; border-bottom:2px solid #808080;}
.bt_xxk a{ line-height:46px; display:inline-block; padding:0 40px; float:left; font-size:16px; color:#333; text-decoration:none;}
.bt_xxk a.hover{ border-bottom:2px solid #ff7100;}

ul.bt_ts{ width:874px; height:50px; border:1px solid #c9d5e3;}
ul.bt_ts li{ width:830px; line-height:48px; height:48px; border:1px solid #fff; background:#e5f5ff; padding:0 21px}
ul.bt_ts li span{ font-size:16px;}
ul.bt_ts li span.tglj{ font-size:14px; background:url(../images/icon/ljsp.png) no-repeat left center; padding-left:20px;}
ul.bt_ts li a{ color:#2b82c6;}
ul.bt_ts li input{ margin-top:14px; font-size:12px; color:#666; height:22px; padding:0 6px; outline:none;}

table.m-fclist{ width:100%; border:1px solid #d9d9d9; line-height:44px;}
table.m-fclist thead tr,table.m-fclist tbody tr{ border-bottom:1px solid #d9d9d9;}
table.m-fclist thead tr td{ text-align:center;}
table.m-fclist thead tr td span{ font-size:14px;}
table.m-fclist tbody tr td{ text-align:center;}
table.m-fclist tbody tr td span{ font-size:12px; color:#555;}
table.m-fclist tbody tr td span.time{ color:#888;}
/*图片切换*/
span.btn-left,span.btn-right{ width:128px; height:128px; position:absolute; left:0; top:50%; margin-top:-64px; display:block; background:url(../images/icon/btn-l.png) no-repeat; cursor:pointer;}
span.btn-right{ left:inherit; right:0; background:url(../images/icon/btn-r.png) no-repeat;}
/*banner上浮动*/
.m-bn_fd{ width:280px; height:350px;   background: rgba(255,255,255,.6);background-image: url(../images/bannerReg.png);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff); position:absolute; z-index:99; left:50%; top:0px; margin-left:320px;}
.m-bn_fd strong{text-align: center;  display: block; margin: 80px 20px 10px 20px; font-size: 20px;font-weight: 300;}
.m-bn_fd .m-bn-arc{height:74px;  margin: 30px 0px; line-height: 74px;text-align: center;font-size: 24px;}
a.bn_btn{ width:240px; height:42px;  border-radius: 5px; background:#1bb8ce; display:block; position:absolute; left:20px; bottom:48px; font-size:18px; color:#fff; line-height:42px; text-align:center; text-decoration:none;}
a.bn_btn:hover{background: #128fa0;}
.bn_login{ font-size:14px;  position:absolute; right:20px; bottom:20px;}
.bn_login span{ color:#202b33;}
.bn_login > a{ color:#202b33;  text-decoration: underline;}