.s-li{letter-spacing: -3px;}
.s-li-2{margin-top: 20px;}
.s-li >li{letter-spacing: 0;float:left;zoom:1;width: 300px; position: relative;}
.s-li-2 >li {letter-spacing: 0;zoom:1;width: 385px; position: relative;display: inline-block;*display: inline; margin-left: 15px;}
.s-li-2 >li.first{margin-left: 0px;}
.s-li li .s-h{padding: 200px 0px 50px;text-align: center;font-size: 21px;color:#fff;}
.s-li-2 li .s-h{padding: 200px 0px 50px;text-align: center;font-size: 21px;color:#fff;}
.s-li >li:hover{box-shadow: 0px 0px 10px #000;z-index: 99;}
.s-b{height: 470px;background: #1bb8ce;}
.s-li-2 .s-b{background: #0081cc }
.s-t{  margin-left: 50px;padding:10px;color:#fff;font-size: 16px;}
.s-li ul{margin-left: 50px;}
.s-li-2 ul{margin-left: 50px;}
.s-li ul li{color:#fff;font-size: 16px;background: url(../images/arcc.png) no-repeat 0px center;padding:10px 20px;}
/*.s-li-2 ul li{color:#fff;font-size: 16px;background: url(../images/arcc.png) no-repeat 0px center;padding:10px 20px;}*/

.s-j a{color:#fff;padding:10px 50px;border:1px solid #fff;border-radius:5px;}

.s-h-1{background: url(../images/show.png) no-repeat #92d2dc  ;background-position: 50px 50px;}
.s-h-2{background: url(../images/show.png) no-repeat #92d2dc  ;background-position: -204px 50px;}
.s-h-3{background: url(../images/show.png) no-repeat #92d2dc  ;background-position: -450px 50px;}
.s-h-4{background: url(../images/show.png) no-repeat #92d2dc  ;background-position: -700px 50px;}
.s-li li:hover .s-h-1{background: url(../images/show.png) no-repeat #7bcedb  ;background-position: 50px 50px;}
.s-li li:hover .s-h-2{background: url(../images/show.png) no-repeat #7bcedb  ;background-position: -204px 50px;}
.s-li li:hover .s-h-3{background: url(../images/show.png) no-repeat #7bcedb  ;background-position: -450px 50px;}
.s-li li:hover .s-h-4{background: url(../images/show.png) no-repeat #7bcedb  ;background-position: -700px 50px;}
.s-li li:hover .s-b{background: #18a3b5;}
.s-li li:hover .s-j a{background: #fff;color: #18a3b5;}

.s-li-2 .s-h-1 {background: url(../images/show2.png) no-repeat #7fd0ff  ;background-position: 165px 50px;}
.s-li-2 .s-h-2 {background: url(../images/show2.png) no-repeat #7fd0ff  ;background-position: -230px 50px;}
.s-li-2 .s-h-3 {background: url(../images/show2.png) no-repeat #7fd0ff  ;background-position: -640px 50px;}



.s-j {margin-top: 50px;color: #fff;display: block;text-align: center;}

.s-hr{margin:10px 50px;}
.s-l-u{
    background:#6b7dac;
    color:#fff;
    position: relative;
}
.s-l-u .g-wrap{
    height: 130px;
    position: relative;
}
.s-l-u ul li{
    position: relative;
    width: 33%;
    display: inline-block;
    *display: inline;
    height:80px;
    padding:50px 0px 0px;
    text-align: center;
      line-height: 25px;
}
.erect{
    position: absolute;
    height: 70px;
    width:1px;
    right: 0px;
    top:30px;
      background: #fff;
}
.s-l-u ul li span{
    font-size: 20px;
}
.s-l-u-t{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
}


.s-li-2>li{
    height: 620px;
}
.s-li-2 li.green{
    background: #e1f3d9;
}
.s-li-2 li.bule{
    background: #d6e8fb;
}
.s-li-2 li.orange{
    background: #fee7cc;
}
.s-li-2 li.green .title{
    background:#67c243 url(../images/xy-icon.png) no-repeat 20px center;
}
.s-li-2 li.bule .title{
    background:#328aea url(../images/sw-icon.png) no-repeat 20px center;
}
.s-li-2 li.orange .title{
    background:#f98700 url(../images/db-icon.png) no-repeat 20px center;
}

.s-li-2 li .title{
    font-size: 24px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    padding-left: 70px;
}
.s-li-2 li.green .tit span{
    background: #67c243;
    padding:10px;
    padding-right:35px;
    display: inline-block;
    zoom:1;
    *display: inline;
    margin: 20px 0px 0px 20px;
    color: #fff;
    border-radius: 5px;
    font-size:18px;
}
.s-li-2 li.bule .tit span{
    background: #328aea;
}
.s-li-2 li.orange .tit span{
    background: #f98700;
}


.s-li-2 li.green ul li{
    height: 40px;
    list-style: url(../images/arc-green.png);
    position: relative;
    z-index: 99;
}
.s-li-2 li.bule ul li{
    height: 40px;
    list-style: url(../images/arc-bule.png);
}

.s-li-2 li.orange ul li{
    height: 40px;
    list-style: url(../images/arc-orange.png);
}

.s-li-2{
    position: relative;
}
.s-li-2 li>ul{
    margin-top: 20px;
}
.s-li-2 li .arc-line{
    width: 2px;
    background: #a4da8e;
    position: absolute;
}
.s-li-2 li.bule .arc-line{
    background: #84b9f2;
}
.s-li-2 li.orange .arc-line{
    background: #fbb766;
}
.green .green1{
    height:100px;
    top: 120px;
    left: 34px;
}
.green .green2{
  height: 140px;
  top: 320px;
  left: 34px;
}
.s-btn{
    margin-top: 50px;
    text-align: center;
}
.s-btn a{
    display: inline-block;
    padding:10px 70px;
    font-size:18px;
    background: #67c243;
    color:#fff;
    border-radius: 5px;
}
.bule .s-btn a{
    background: #328aea;
}
.orange .s-btn a{
    background: #f98700;
}