
@media \0screen\,screen\9 {
    .m-banner .slider-pagination-item a{background: url('../images/forIE/25525525543.png');}
    .m-forgotPwd .step .index li{top: 0;left: 0;width: 39px;height: 39px;line-height: 39px;background: url('../images/forIE/diamonds_02.png') no-repeat;}
    .m-forgotPwd .step .index li:before{display: none;}
    .m-forgotPwd .step .index li.z-sel{background-image: url('../images/forIE/diamonds_01.png');}
    .m-forgotPwd .step .index li + li{left: 50%;margin-left: -20px;}
    .m-forgotPwd .step .index li + li + li{left: 100%;}

    .m-head{padding-bottom: 10px;margin-bottom: -10px;background: url('../images/forIE/hd_shadow.png') repeat-x bottom left;}

    .m-loanType li{width: 380px;height: 493px;padding: 7px;margin-left: 12px;border: 0 none;background: url('../images/forIE/bg_01.png') no-repeat;}
    .m-loanType li:first-child{margin-left: -7px;}

    .u-dialog-overlay{background: url('../images/forIE/00060.png');}
    .u-dialog-overlay.s-tint{background: url('../images/forIE/00020.png');}
    .u-dialog-overlay.s-transparent{background: url('../images/blank.gif');}
}
@media \0screen {

}
@media screen\9 {
    .m-topBar .phone{vertical-align: middle;}

    .m-pushInvest .list li{margin-top: 12px;}
    .m-counter .content{padding: 8px 14px;}

    .m-forgotPwd .step{left: 70px;margin-left: 0;}

    .m-finaList .list .info .strong + .msg{width: 167px;}
    .m-invest .list .info .msg{width: 152px;}
}