/*安全保障*/
.clear{ clear:both;}
.safe-p{ font-size:28px; color:#434343; padding-top:30px;}
.safe-p span{ font-size:54px; font-family:Arial; font-style:italic; padding-left:8px; padding-right:8px;}
.history {
	color:#333;
	width:100%;
	position:relative;
	background:url("../images/about/safe/history_bg.png") center 300px no-repeat;
}
.start-history {
	width:1200px;
	margin:0 auto;
	padding-top:75px;
	display:block;
}
.history-img {
	height:1200px;
	width:188px;
	overflow:hidden;
	float:left;
}
.history_left {
	width:506px;
	float:left;
	clear:left;
	position:relative;
	overflow:hidden;
}
.history_right {
	width:506px;
	float:left;
	position:relative;
	overflow:hidden;
}
.history_R {
	width:506px;
	margin-left:505px;
}
.history_L {
	width:506px;
	float:right;
	margin-right:505px;
}
.safe_h1{ font-size:30px;}
.safe_p1{ font-size:16px; line-height:25px;}
.history_L img{ text-align:right;}
.history_R img{ text-align:left;}
.safe_left1{ padding-bottom:110px;}
.safe_left2{ padding-bottom:70px;}
.safe_left3{ padding-bottom:55px;}
.safe_left4{ padding-bottom:70px;}
.safe_right1{ padding-bottom:75px;}
.safe_right2{ padding-bottom:110px;}
.safe_right3{ padding-bottom:73px;}
.safe_right4{ padding-bottom:35px;}
.safe_right5{ padding-bottom:120px;}

/*帮助中心*/
.help_w{ width:990px; margin:0 auto;}
.help_search{ background:#f0f0f0; height:104px;}
.help_search.xszy{
    height:250px;
    background:url(../images/about/xinshou/xinshou_1.jpg) center center no-repeat;
}
.help_w .fl1{
    position:relative;
    width:197px;
    height:44px;
    margin-right:10px;
    background:#e4e4e4 url(../images/about/xinshou/xinshou_2.png) center center no-repeat;
    color:#585858;
    font-size:16px;
    line-height:44px;
    text-indent:90px;
    cursor:pointer;
}
.help_w .fl1:hover{
    background:#03a9f4 url(../images/about/xinshou/xinshou_2.png) center center no-repeat;
    color:#fff;
}
.help_w .fl1.active{
    background:#03a9f4 url(../images/about/xinshou/xinshou_2.png) center center no-repeat;
    color:#fff;
}
.help_w .fl2{
    position:relative;
    width:197px;
    height:44px;
    margin-right:10px;
    background:#e4e4e4 url(../images/about/xinshou/xinshou_3.png) center center no-repeat;
    color:#585858;
    font-size:16px;
    line-height:44px;
    text-indent:70px;
    cursor:pointer;
}
.help_w .fl2:hover{
    background:#03a9f4 url(../images/about/xinshou/xinshou_3.png) center center no-repeat;
    color:#fff;
}
.help_w .fl2.active{
    background:#03a9f4 url(../images/about/xinshou/xinshou_3.png) center center no-repeat;
    color:#fff;
}
.help_w .fl em{
    background:#03a9f4 url(../images/about/xinshou/xinshou_4.png) center center no-repeat;
    width:8px;
    height:8px;
    display:block;
    position:absolute;
    bottom:-1px;
    left:90px;
    display:none;
}
.help_w.bor_bot{
    border-bottom:1px solid #cccccc;
    overflow: hidden;
}
.help_w .fl1:hover em{
    display:block;
}
.help_w .fl1.active em{
    display:block;
}
.help_w .fl2:hover em{
    display:block;
}
.help_w .fl2.active em{
    display:block;
}
.help_top1{ font-size:24px; color:#004ea2; line-height:104px;}
.help_top2{ width:824px; padding:3px; background:#004ea2; height:46px; margin-top:26px;}
.help_input1{ width:700px; height:46px; background:#fff; border:none; text-indent:1em; color:#9e9e9e;}
.help_btn1{ width:120px; height:46px; color:#fff; background:none; border:none; text-align:center; font-size:20px; font-weight:bold; cursor:pointer;}
.help_sider{ padding-bottom:30px;}
.help_sider p{ font-size:20px; background:#004ea2; color:#fff; text-align:center; line-height:40px;}
.subNav{border-bottom:solid 1px #fff;cursor:pointer;font-size:14px;color:#666;line-height:40px;padding-left:40px;background:#eaeaea url(../images/about/help/side_ico1.png) no-repeat 183px center;}
.subNav:hover{color:#277fc2;}
/*.currentDd{color:#277fc2}*/
.currentDt{background:#dcdcdc url(../images/about/help/side_ico2.png) no-repeat 180px center;}
.navContent{display: none; background:#fff;}
.navContent li a{display:block;font-size:12px;line-height:30px;color:#333; padding-left:40px;}
.navContent li a:hover{color:#26a7eb;}
.help_hot_h{ width:150px; font-size:16px; text-align:center; background:url(../images/about/help/help_bg.jpg) no-repeat left top; color:#fff; line-height:40px; height:47px; font-weight:bold; position:absolute; top:-40px; left:0px;}
.help_list1{ background:#fff; padding:13px 23px; margin-top:40px; position:relative;}
.help_list1 li{ width:299px; border-bottom:1px dotted #ccc; float:left; margin-left:30px;  overflow:hidden; padding-top:10px; padding-bottom:10px; font-size:14px;}
.help_h1{ font-size:18px; padding-top:30px; padding-bottom:15px; }
.help_ad{ margin-top:20px;}
.help_man1{ width:326px;}
.help_man2{ width:652px;}
.help_man li{ width:162px; height:162px; float:left; margin-right:1px; color:#fff; font-size:16px; text-align:center; font-weight:bold;}
.help_man li img{padding-top:40px; padding-bottom:15px;}
.help_list2 li{ background:#97d4fd;}
.help_list2 li:hover{background:#1db2f5;}
.help_list3 li{ background:#ffc4a2;}
.help_list3 li:hover{background:#ffa876;}
.help_list4{ padding-bottom:65px;}
.help_list4 li{ width:230px; height:180px; border:1px solid #eee; text-align:center; font-size:16px; margin-right:20px; float:left; margin-bottom:10px;}
.help_list4 li:hover{ background:#1db2f5; color:#fff;}
.help_list4 li.last{margin-right:0px;}
.help_list4 li img{ padding-top:40px; padding-bottom:15px;}

.help_w .xinshou_top{
    height:117px;
    line-height: 146px;
    font-size: 24px;
    color:#333;
    text-align: center;
    position: relative;
}
.help_w .xinshou_top img{
    position: absolute;
    top:49px;
    left:316px;
}
.xinshou_body ul{
    overflow: hidden;
    position: relative;
}
.xinshou_body ul .xian{
    position: absolute;
    width:1px;
    background:#d5d5d5;
    height:9000px;
    left:344px;
}
.xinshou_body li{
    overflow: hidden;
    cursor:pointer;
    padding:20px  0;
}
.xinshou_body li a{
    margin-left: 400px;
}
.xinshou_body .xs_left{
    width:318px;
    font-size: 16px;
    color:#333;
    text-align: right;
    padding-right: 20px;
    float:left;
    line-height: 100px;
    position: relative;
}
.xinshou_body .xs_left em{
    position: absolute;
    right:-16px;
    top:41px;
    height:20px;
    width:20px;
    background:url(../images/about/xinshou/xinshou_6.jpg) no-repeat;
}
.xinshou_body .xs_right{
    width:566px;
    font-size: 14px;
    color:#616161;
    margin-left: 44px;
    background:#f2f2f2;
    float:left;
    border-radius: 8px;
    padding:30px 20px;
    position:relative;
}
.xinshou_body .xs_right em{
    position: absolute;
    left:-13px;
    top:45px;
    height:12px;
    width:13px;
    background:url(../images/about/xinshou/xinshou_7.jpg) no-repeat;
}
.xinshou_body li:hover .xs_left em{
    background:url(../images/about/xinshou/xinshou_8.jpg) no-repeat;
}
.xinshou_body li:hover .xs_left{
    color:#3dc4f3;
}
.xinshou_body li:hover .xs_right{
    background:#3dc4f3;
    color:#fff;
}
.xinshou_body li:hover .xs_right em{
    background:url(../images/about/xinshou/xinshou_9.jpg) no-repeat;
}
/*帮助中心列表页*/
.help_list_main{width:698px;border:1px solid #e6e6e6; background:#fff; padding:35px 25px 30px;}
.help_list_main h2{ font-size:16px; color:#26a7eb; padding-bottom:15px; border-bottom:1px solid #e6e6e6;}
.help_list_main ul{ padding-top:20px;}
.help_list_main ul li{ line-height:40px; font-size:14px; padding-left:8px;}
.help_list_main ul li.bgf2{ background:#f2f2f2;}
.help_list_right{ width:750px; padding-bottom:100px;}

/*公司动态*/
.news_nav_w{ background:#004ea2; border-top:2px solid #598dc8; width:100%;}
.news_wrap{ width:960px; margin:0 auto;}
.news_wrap.pad_top_97{
    margin-top: 97px;
}
.news_nav ul li{ width:120px; padding-top:52px; float:left; text-align:center; color:#fff; font-size:14px; padding-bottom:22px;}
.news_nav ul li.news_nav_li1{ background:url(../images/about/news/news_nav1_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li2{ background:url(../images/about/news/news_nav2_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li3{ background:url(../images/about/news/news_nav3_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li4{ background:url(../images/about/news/news_nav4_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li5{ background:url(../images/about/news/news_nav5_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li6{ background:url(../images/about/news/news_nav6_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li7{ background:url(../images/about/news/news_nav7_off.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li8{ background:url(../images/about/news/news_nav8_off.png) no-repeat center 22px;}
.news_nav ul li:hover{ color:#03a9f4;}
.news_nav ul li.select{ color:#03a9f4;}
.news_nav ul li.news_nav_li1:hover{background:#fff url(../images/about/news/news_nav1_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li1.select{background:#fff url(../images/about/news/news_nav1_on.png) no-repeat center 22px; }
.news_nav ul li.news_nav_li2:hover{background:#fff url(../images/about/news/news_nav2_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li2.select{background:#fff url(../images/about/news/news_nav2_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li3:hover{background:#fff url(../images/about/news/news_nav3_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li3.select{background:#fff url(../images/about/news/news_nav3_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li4:hover{background:#fff url(../images/about/news/news_nav4_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li4.select{background:#fff url(../images/about/news/news_nav4_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li5:hover{background:#fff url(../images/about/news/news_nav5_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li5.select{background:#fff url(../images/about/news/news_nav5_on.png) no-repeat center 22px; }
.news_nav ul li.news_nav_li6:hover{background:#fff url(../images/about/news/news_nav6_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li6.select{background:#fff url(../images/about/news/news_nav6_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li7:hover{background:#fff url(../images/about/news/news_nav7_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li7.select{background:#fff url(../images/about/news/news_nav7_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li8:hover{background:#fff url(../images/about/news/news_nav8_on.png) no-repeat center 22px;}
.news_nav ul li.news_nav_li8.select{background:#fff url(../images/about/news/news_nav8_on.png) no-repeat center 22px;}
.news_nav_fix{ position:fixed; top:30px; z-index:1000;}
.news_mbx{border:1px solid #ededed; margin-top:25px; padding:25px; margin-bottom:35px;}
.news_mbx2{border:1px solid #ededed; margin-top:25px; padding:25px; }

.news_mbxl{ width:450px;}
.news_mbxr{ width:450px; padding-top:10px;}
.news_mbxr img{ vertical-align:middle; padding-right:3px;}
.news_mbxl v{ font-size:25px; color:#333;  padding-right:15px; font-weight:bold;}
.news_mbxl span2{ font-size:14px;}
.news_h2{ font-family:Arial; font-size:22px; text-transform:uppercase; color:#666; background:url(../images/about/news/newsline_bg.jpg) repeat-x left center; }
.news_h2 span{ background:#fff; padding-right:10px;}
.news_img{ width:170px; }
.news_right{ width:740px; }
.news_right ul{background:url(../images/about/news/newsline_bg.jpg) repeat-y 115px top;}
.news_right ul li{ background:url(../images/about/news/news_bg_off.png) no-repeat 106px top; height:116px;margin-bottom:20px;}
.news_right ul li:hover{ background:url(../images/about/news/news_bg_on.png) no-repeat 106px top;}
.news_right ul li:hover .news_content{ color:#fff;}
.news_time{ padding-right:60px; font-size:14px; width:100px; padding-top:25px;}
.news_content{ padding-left:30px; padding-top:15px; height:85px; overflow:hidden; width:512px;}
.news_content h2{ font-size:18px; padding-bottom:5px;}
.news_content p{ font-size:14px;}
.news_more{ margin:30px 0 60px 160px; cursor:pointer;}


/*公司简介*/
.about1{ padding-bottom:50px;}
.about_w{ width:1140px; margin:0 auto;}
.about1 h1{ width:450px; margin:0 auto; text-align:center; background:url(../images/about/about/abouth_bg.png) no-repeat left top; font-size:32px; padding-bottom:25px; margin-top:43px; margin-bottom:40px; font-weight:300;}
.about1 div{ font-size:18px; padding-bottom:15px;}
.about1 div span{ color:#f1150a;}
.about1 p{ font-size:14px; text-indent:2em; line-height:25px;}
.about_img1{ background:#1e95cd; height:200px;}
.about_img2{ background:#ffaa00; height:200px;}
.about_bottom{ background:#ebebeb; margin-bottom:20px;}
.about_w1{ width:1143px; margin:0 auto; background:url(../images/about/about/about3.png) no-repeat center bottom; padding-top:40px; padding-bottom:120px;}
.about_w1 dl{ float:left;}
.about_w1 dl dt,.about_big_h1{ background:url(../images/about/about/about_ico.png) no-repeat left center; font-size:18px; padding-left:40px; color:#004ea2; margin-bottom:10px;}
.about_w1 dl dd{ font-size:14px; color:#999; line-height:28px;}
.about_w1 dl dd a{ color:#67c0ce; text-decoration:underline;}
.about_w1 dl dd a:hover{ text-decoration:none;}
.about_dl01{ width:390px;}
.about_dl02{ width:340px; margin-right:100px;}
.about_dl03{ width:310px;}

.about_bigt{
	MARGIN: 80px auto; WIDTH: 1140px; POSITION: relative; HEIGHT: 230px
}
.about_bigt .corner {
	CLEAR: both;  DISPLAY: block; MARGIN: 0px 1px; OVERFLOW: hidden; HEIGHT: 0px
}
.about_bigt .slide-content {
}
.about_bigt .ks-switchable-triggers A {
	DISPLAY: block; Z-INDEX: 99; WIDTH: 25px; COLOR: #b4b4b4; POSITION: absolute; TOP: 70px; HEIGHT: 75px; TEXT-DECORATION: none
}
.about_bigt .ks-switchable-triggers SPAN {
	DISPLAY: block; WIDTH: 20px; CURSOR: pointer; HEIGHT: 38px; TEXT-ALIGN: center
}

.about_bigt .ks-switchable-triggers .prev {
	LEFT: 0px; background:url(../images/about/about/left.png) no-repeat left top;
}
.about_bigt .ks-switchable-triggers .prev:hover,.about_bigt .ks-switchable-triggers .prev.select{background:url(../images/about/about/left_on.png) no-repeat left top;}
.about_bigt .ks-switchable-triggers .next {
	RIGHT: 0px; background:url(../images/about/about/right.png) no-repeat left top;}
.about_bigt .ks-switchable-triggers .next:hover{ background:url(../images/about/about/right_on.png) no-repeat left top;}
.about_bigt .ks-switchable-triggers A:hover {
	COLOR: #f43d1e
}
.about_bigt .ks-switchable-triggers A:hover SPAN {
	COLOR: #f43d1e
}

.about_bigt .wrap {
	OVERFLOW: hidden; WIDTH: 960px; HEIGHT: 230px; margin:0 auto;
}
.about_bigt UL {
	WIDTH: 10000px
}
.about_bigt LI {
	FLOAT: left; WIDTH: 990px; background:url(../images/about/about/about_cicle0.jpg) no-repeat left 105px;
}
.about_bigt LI div.big_top{  background:url(../images/about/about/about_circle1.png) no-repeat left bottom;  }
.about_bigt LI div.big_bot{ margin-top:20px; background:url(../images/about/about/about_circle2.png) no-repeat left top; }
.about_bigt LI div .about_p1{ color:#05a1ea; font-size:16px; font-family:Arial;}
.about_bigt LI div .about_p2{ color:#999; font-size:14px; line-height:24px;}
.about_bigt LI div{ width:180px; padding-right:104px; float:left; height:105px; padding-left:18px;}
.about_bigt LI div.about_bigt5{ width:180px;}
.about_bigt1{ margin-left:226px;}
.about_bigt3{ margin-left:75px;}


/*管理团队*/
.team_w{ 
 width:1140px; margin:0 auto 40px;
 -webkit-box-shadow:0 0 10px rgba(164, 164, 164, .5);  
  -moz-box-shadow:0 0 10px rgba(164, 164, 164, .5);  
  box-shadow:0 0 10px rgba(164, 164, 164, .5);
}

.team_h1{ font-size:32px; color:#03a9f4; padding-top:50px; padding-bottom:25px;}
.team_h2{ font-size:20px;color:#03a9f4;}
.team_h2 span{background:url(../images/about/team/team_ico.png) no-repeat left top; padding-left:38px; padding-right:10px;}
.team_list{ padding-top:95px; padding-bottom:55px;}
.team_list li{ overflow:hidden; padding-bottom:35px;}
.team_list li img{ width:240px; margin-left:105px; margin-right:40px;}
.team_list li div h2{ font-size:18px; padding-bottom:18px; border-bottom:1px solid #ccc; margin-bottom:5px; font-weight:300;}
.team_list li div p{ font-size:14px; line-height:28px;}
.team_txt{ width:650px; }
.partner{ font-size:20px; font-family:"新宋体"; font-style:italic; padding-bottom:75px;}
.partner_list{ width:1014px; margin:0 auto; }
.partner_list li{ float:left; padding-left:7px; padding-right:7px; padding-bottom:20px;}
.partner_list li a:hover{filter:alpha(opacity=80); opacity: 0.8;}
.partner_w{ background:#f3f4f6 url(../images/about/partner/par_bg.jpg) no-repeat center 188px;padding-bottom:100px;}
.partner_h1{ padding-top:70px; padding-bottom:20px;}


/*联系我们*/
.contact1{ width:430px;}
.contact2{ width:420px;}
.contact_dl dt{ font-size:16px; padding-top:27px; padding-bottom:27px; color:#03a9f4; }
.contact_dl dt img{ padding-right:7px; vertical-align:middle;}
.contact_dl dd{ padding-bottom:8px; font-size:14px;}
.contact_dl dd img{ vertical-align:middle; padding-right:12px;}
.contact_dl dd a{ color:#67c0ce; text-decoration:underline;}

/*信息详细*/

.news_detail_w{ 
 width:1200px; margin:0 auto 40px;
 -webkit-box-shadow:0 0 10px rgba(164, 164, 164, .5);  
  -moz-box-shadow:0 0 10px rgba(164, 164, 164, .5);  
  box-shadow:0 0 10px rgba(164, 164, 164, .5);
  overflow:hidden;
}
.news_detail_txt{ width:690px; padding:60px;font-size:14px; float:left;}
.news_detail_txt p{  line-height:28px;}
.news_detail_sx{ padding-top:50px;}


/*加入我们*/
.join_p{ font-size:14px; line-height:28px; padding-top:20px; padding-bottom:20px;}
.join_right{ width:770px; }
.accordion_toggle {
			display: block;
			background:url(../images/about/join/join_ico1.jpg) no-repeat 22px 18px;
			padding: 12px 55px;
			line-height: 30px;
			border:1px solid #efefef;
			color: #ffffff;
			font-weight: normal;
			text-decoration: none;
			outline: none;
			font-size: 12px;
			color: #000000;
			border-bottom: none;
			cursor: pointer;
			margin: 0 0 0 0;
		}
.accordion_toggle:hover{
	background:#f2f9fd url(../images/about/join/join_ico2.jpg) no-repeat 22px 18px;
}	
		.accordion_toggle_active {
			background:#f2f9fd url(../images/about/join/join_ico3.jpg) no-repeat 22px 18px;
			color: #03a9f4;
			-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
		}
.accordion_toggle_active:hover{
    background:#f2f9fd url(../images/about/join/join_ico4.jpg) no-repeat 22px 18px;
}		
		.accordion_content {
			overflow: hidden;
			-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
			border:1px solid #efefef;
			border-top:none;
			margin-bottom:12px;
			padding:15px 22px;
			font-size:14px;
			background:#f2f9fd;
            display:none;
		}
			
			.accordion_content h2 {
				padding-bottom:10px;
			}
			
			.accordion_content p {
				line-height: 30px;
				padding: 5px 10px 15px 10px;
			}
			.accordion_content div{ width:118px; height:34px; font-size:14px; color:#fff; text-align:center; background:#e0472c;   -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height:34px;
  cursor:pointer;}
.news_right1{ width:318px; float:right; border-left:1px solid #ccc; padding-top:30px; padding-bottom:150px;}
.news_right1 p{ font-size:16px;border-top:1px solid #ccc; padding-left:20px; padding-top:15px;}
.news_right1 p span{ float:right; padding-right:18px; background:url(../images/about/news/notice_more.jpg) no-repeat right 6px; font-size:14px;}
.news_detail_list li{ line-height:30px; background:url(../images/about/news/list_circle.jpg) no-repeat left center; padding-left:18px; overflow:hidden;}
.news_right1 ul{padding-left:20px; border-bottom:1px solid #ccc; padding-top:6px; padding-bottom:6px;}
.new{ position:relative; top:-5px; padding-left:5px;}
/*媒体*/
.news_body .frist_news{
    padding-top: 20px;
}
.news_body .frist_news{
    overflow: hidden;
}
.news_body .frist_news .lf{
    text-align: center;
    padding:50px 20px;
    width:462px;
    height:167px;
    float:left;
    background:#f3f3f3;
}
.news_body .frist_news .lf h3{
    color:#333;
    font-size: 22px;
    font-weight: 100;
    line-height: 50px;
}
.news_body .frist_news .lf p{
    color:#6b6a6a;
    font-size: 12px;
    line-height: 20px;
    padding:0 40px;
}
.news_body .frist_news .lf a{
    color:#333;
    font-size: 12px;
    line-height: 40px;
    border-top: 2px solid #333333;
    padding:5px 5px;
    cursor:pointer;
}
.news_body .frist_news .lf a:hover{
    color:#03a9f4;
    border-top: 2px solid #03a9f4;
}
.news_body .frist_news .rig{
    width:458px;
    height:267px;
    float:left;
}
.news_body ul.media_news{
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.news_body ul.media_news li{
    width:444px;
    height:99px;
    border-bottom: 1px dotted #acacac;
    float:left;
    margin-right: 36px;
}
.news_body ul.media_news li .lef{
    width:54px;
    height:76px;
    float:left;
    text-align: center;
    background:#f7f7f7;
    font-size: 24px;
    font-family: Arial;
    color:#03a9f4;
    line-height: 60px;
    overflow: hidden;
}
.news_body ul.media_news li .lef font{
    width:54px;
    height:16px;
    display:block;
    background:#649edc;
    color:#fff;
    font-size: 12px;
    line-height: 16px;
}
.news_body ul.media_news li .rigt{
    padding:10px;
    width:370px;
    float:right;
}
.news_body ul.media_news li .rigt h4{
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
}
.news_body ul.media_news li .rigt p{
    font-size: 12px;
    line-height: 20px;
}
/*爱心公益*/
.axgy_sy{
    padding-bottom:30px;
}
.axgy_sy .banner_axgy_sy{
    width:100%;
    height:250px;
    background:url(../images/axgy/axgy_banner.jpg) center no-repeat;
}
.axgy_sy .banner_axgy_sy .kuang{
    width:330px;
    height:164px;
    padding: 40px;
    font-size: 18px;
    color:#3c3c3c;
    line-height: 44px;
}
.axgy_sy .banner_axgy_sy .kuang p{
    margin-bottom: 16px;
}
.axgy_sy .banner_axgy_sy .kuang input{
    width:218px;
    height:42px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border:1px solid #6ea949;
    outline:0;
    font-size: 28px;
    color:#333;
    font-family: Verdana;
    text-align: right;
    background:#fff;
}
.axgy_sy h1{
    height:60px;
    width:100%;
    display:block;
    line-height:60px;
    font-size:20px;
    color:#254d0c;
    font-weight:bold;
}
.axgy_sy h1 i{
    height:60px;
    width:40px;
    display:block;
    float:left;
}
.axgy_sy .zxbd h1 i{
    background:url(../images/axgy/zxbd.jpg) left center no-repeat;
}.axgy_sy .axxm h1 i{
    background:url(../images/axgy/axxm.png) left center no-repeat;
}
.axgy_sy .ssaxb h1 i{
    background:url(../images/axgy/ssaxb.jpg) left center no-repeat;
}.axgy_sy .wqbd h1 i{
    background:url(../images/axgy/wqbd.jpg) left center no-repeat;
}
.axgy_sy h1 font{
    height:60px;
    width:120px;
     float:left;
    display:block;
}
.axgy_sy h1 a{
    float:right;
    color:#599b30;
    font-size:12px;
    font-family:'宋体';
    font-weight:100;
    padding-right:5px;
}
.axgy_sy h1 a:hover{
    color:#3d6f1d;
}
.axgy_sy h2{
    line-height:40px;
    font-size:16px;
    font-weight:100;
    border-bottom:1px solid #dddddd;
}
.axgy_sy h2 a{
    color:#333333;
}
.axgy_sy h2 a:hover{
    color:#599b30;
}
.axgy_sy h2 font{
    line-height:60px;
    font-weight:100;
    color:#599b30;
}
.axgy_sy .nr p{
    width:100%;
    color:#555;
    font-size:12px;
    font-family:'宋体';
    line-height:20px;
    padding-top:10px;
}
.axgy_sy .left_axgy_sy{
    width:795px;
    overflow:hidden;
}
.axgy_sy .right_axgy_sy{
    width:386px;
}
.axgy_sy .left_axgy_sy .zxbd{
    width:100%;
    overflow:hidden;
    margin-top:10px;
}
.axgy_sy .left_axgy_sy .zxbd_body{
    width:100%;
    height:330px;
    overflow:hidden;
    background:#f3f3f3;
}
.axgy_sy .left_axgy_sy .zxbd_body .nr{
    padding:17px;
    width:320px;
    height:296px;
    position:relative;
}
.axgy_sy .left_axgy_sy .zxbd_body .nr h2{
    font-size:20px;
}
.axgy_sy .left_axgy_sy .zxbd_body .nr p{
    font-size:14px;
    line-height:26px;
}
.axgy_sy .left_axgy_sy .zxbd_body .nr a.ckxx{
    color:#599b30;
    font-size:14px;
    font-family:'宋体';
    position:absolute;
    right:22px;
    bottom:22px;
}
.axgy_sy .left_axgy_sy .zxbd_body .nr a.ckxx:hover{
    color:#3d6f1d;
}
.axgy_sy .left_axgy_sy .axxm{
    width:100%;
    overflow:hidden;
    margin-top:10px;
}
.axgy_sy .left_axgy_sy .axxm li{
    width:258px;
    height:400px;
    display:block;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    border-radius:6px;
    overflow:hidden;
}
.axgy_sy .left_axgy_sy .axxm li.mar_ri_0{
    margin-right:0;
}
.axgy_sy .left_axgy_sy .axxm li .img{
    height:193px;
    width:100%;
    overflow:hidden;
    position:relative;
}
.axgy_sy .left_axgy_sy .axxm li .img font{
    height:20px;
    width:60px;
    display:block;
    position:absolute;
    left:0;
    top:0;
    line-height:20px;
    text-align:center;
    font-size:12px;
    font-family:'宋体';
    color:#fff;
    background:#599b30;
    border-bottom-right-radius:6px;
}
.axgy_sy .left_axgy_sy .axxm li .nr{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    height:167px;
}
.axgy_sy .left_axgy_sy .axxm li .nr p{
    padding:10px;
    width:236px;
    height:79px;
    border-bottom:1px solid #ddd;
    overflow:hidden;
}
.axgy_sy .left_axgy_sy .axxm li .nr h3{
    line-height:34px;
    color:#aaa;
    font-size:12px;
    font-family:'宋体';
    font-weight:100;
    padding: 0 10px;
    border-bottom:1px solid #ddd;
    overflow:hidden;
}
.axgy_sy .left_axgy_sy .axxm li .nr h3 font{
    color:#333;
    font-size:14px;
    font-family:'微软雅黑';
    margin-right:10px;
}
.axgy_sy .left_axgy_sy .axxm li .nr span{
    float:right;
    color:#555;
    font-size:12px;
    font-family:'宋体';
    line-height:30px;
    padding-right:10px;
}
.axgy_sy .left_axgy_sy .axxm li .nr span font{
    color:#599b30;
}
.axgy_sy .left_axgy_sy .axxm li a.button{
    width:100%;
    height:40px;
    background:#599b30;
    color:#fff;
    font-size:16px;
    text-align:center;
    line-height:40px;
    display:block;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    border:none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.axgy_sy .left_axgy_sy .axxm li a.button:hover{
    background:#3d6f1d;
}
.axgy_sy .left_axgy_sy .axxm li a.button.zxz{
    background:#accd97;
}
.axgy_sy .left_axgy_sy .axxm li a.button.zxz:hover{
    background:#7ba162;
}
.axgy_sy .left_axgy_sy .axxm li a.button.zxwc{
    background:#cccccc;
}
.axgy_sy .left_axgy_sy .axxm li a.button.zxwc:hover{
    background:#aaa;
}
.axgy_sy .right_axgy_sy .ssaxb{
    margin-top:10px;
}
.axgy_sy .right_axgy_sy h1{
    border-bottom:1px solid #dddddd;
}
.axgy_sy .right_axgy_sy h1 i{
    border-bottom:1px solid #599b30;
}
.axgy_sy .right_axgy_sy h1 font{
    border-bottom:1px solid #599b30;
}
.axgy_sy .right_axgy_sy .ssaxb p{
    line-height:40px;
    border-bottom:1px dashed #ddd;
    font-size:14px;
    height:53px;
    overflow:hidden;
}
.axgy_sy .right_axgy_sy .ssaxb p font{
    border-left:4px solid #599b30;
    padding-left:3px;
}
.axgy_sy .right_axgy_sy .ssaxb p a{
    color:#599b30;
}
.axgy_sy .right_axgy_sy .ssaxb p span{
    color:#aaa;
    font-size:12px;
    font-family:Arial;
    float:right;
    line-height:73px;
}
.axgy_sy .right_axgy_sy .wqbd{
    margin-top:10px;
}
.axgy_sy .right_axgy_sy .wqbd h2{
    line-height:50px;
    height:42px;
    border:none;
}
.axgy_sy .right_axgy_sy .wqbd h2 a{
    position:relative;
    top:-10px;
}
.axgy_sy .right_axgy_sy .wqbd li{
    padding-bottom:15px;
    border-bottom:1px dashed #ddd;
    overflow:hidden;
}
.axgy_sy .right_axgy_sy .wqbd .img {
    width:160px;
    height:120px;
    overflow:hidden;
}
.axgy_sy .right_axgy_sy .wqbd .nr {
    width:206px;
    height:100px;
    overflow:hidden;
    padding:10px;
    font-size:14px;
}
.axgy_sy .right_axgy_sy .wqbd .nr p{
    font-size:14px;
    padding:0;
    line-height:24px;
}
.axgy_sy .right_axgy_sy .wqbd .nr p a{
    color:#599b30;
}
.axgy_sy .right_axgy_sy .wqbd .nr p a:hover{
    color:#3d6f1d;
}
.axgy_sy .right_axgy_sy .wqbd .nr font{
    font-size:12px;
    font-family:Arial;
    color:#aaa;
    padding-top:5px;
}
.axgy_sy .invest_home_paging{
    margin-top: 20px;
}
.axgy_sy .invest_home_paging font{
    color:#599b30;
}
.axgy_sy .invest_home_paging font:hover{
    color:#fff;
    background:#599b30;
    border:1px solid #599b30;
}
.axgy_sy .invest_home_paging span{
    color:#599b30;
}
.axgy_sy .invest_home_paging span:hover{
    color:#fff;
    background:#599b30;
    border:1px solid #599b30;
}
.axgy_sy .invest_home_paging span.nocli{
    color:#ccc;
}
.axgy_sy .invest_home_paging span.nocli:hover{
    color:#ccc;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1{
    height:300px;
    width:755px;
    padding: 20px;
    border-radius: 8px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr{
    width:337px;
    height:300px;
    padding:0px;
    padding-left:17px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr h6 {
    line-height: 34px;
    font-weight: 100;
    height:34px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr h6 a{
    color:#333;
    font-size: 18px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 h6 font{
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 5px;
    background:#599b30;
    color:#fff;
    font-size: 14px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr div {
    border:1px solid #599b30;
    border-radius: 6px;
    margin-top: 15px;
    padding: 15px;
    font-size: 12px;
    font-family: '宋体';
    color:#555;
    position: relative;
    line-height: 22px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr div em{
    position: absolute;
    left:14px;
    top:-11px;
    background:#f3f3f3;
    color:#599b30;
    font-size: 16px;
    font-family: '微软雅黑';
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr div p{
    color:#333;
    padding: 0;
    margin:0;
    margin-top: 5px;
}
.axgy_sy .left_axgy_sy .zxbd_body.zxbd_body_1 .nr div p font{
    width:160px;
}
.axgy_sy .axxm h1 i.xxjs {
    background: url(../images/axgy/axgy_xq.jpg) left center no-repeat;
}
.axgy_sy .axxm h1 i.jzjl {
    background: url(../images/axgy/jzjl.jpg) left center no-repeat;
}
.axgy_sy h1.bor{
    border-bottom: 1px solid #dddddd;
}
.axgy_sy h1.bor i {
    border-bottom: 1px solid #599b30;
}
.axgy_sy h1.bor font {
    border-bottom: 1px solid #599b30;
}
.axgy_sy .left_axgy_sy .axxm .axxq{
    padding-top: 20px;
}
.axgy_sy .left_axgy_sy .axxm .axxq p{
    font-size: 14px;
    font-family: '宋体';
    color:#555;
    line-height: 28px;
    text-indent: 28px;
    margin-top: 10px;
}
.axgy_sy .left_axgy_sy .axxm .axxq p.eee.title{
    font-size: 16px;
    color:#599b30;
    font-family: '微软雅黑';
}
.axgy_sy .left_axgy_sy .axxm .axxq p.eee{
    background:#eee;
    line-height: 40px;
    margin:0px;
    padding: 0px;
    color:#555;
    font-size: 14px;
    font-family: '宋体';
}
.axgy_sy .left_axgy_sy .axxm .axxq p.fff{
    background:#fff;
    line-height: 40px;
    margin:0px;
    padding: 0px;
    color:#555;
    font-size: 14px;
    font-family: '宋体';
}
.axgy_sy .left_axgy_sy .axxm .axxq p .tl{
    width:210px;
    text-indent: 60px;
    display:inline-block;
}
.axgy_sy .left_axgy_sy .axxm .axxq p .tc{
    width:300px;
    display:inline-block;
}
.axgy_sy .left_axgy_sy .axxm .axxq p .tr{
    width:160px;
    display:inline-block;
}
.axgy_sy .right_axgy_sy .jzcell{
    width:326px;
    height:300px;
    background:#f3f3f3;
    border-radius: 8px;
    margin-top: 10px;
    padding: 20px 30px;
}
.axgy_sy .right_axgy_sy .jzcell p.sy{
    font-size: 16px;
    color:#666;
    line-height: 26px;
}
.axgy_sy .right_axgy_sy .jzcell p.syje{
    font-size: 24px;
    color:#599b30;
    line-height: 42px;
    font-family: Tahoma;
}
.axgy_sy .right_axgy_sy .jzcell p.syje font{
    font-size: 16px;
    color:#666;
}
.axgy_sy .right_axgy_sy .jzcell p.jdt{
    line-height: 24px;
}
.axgy_sy .right_axgy_sy .jzcell p.jdt span{
    position: relative;
    width:100%;
    height:10px;
    background:#e5e5e5;
    border-radius: 5px;
    display:inline-block;
}
.axgy_sy .right_axgy_sy .jzcell p.jdt span span{
    position: absolute;
    left:0;
    top:0;
    height:10px;
    background:#599b30;
    border-radius: 5px;
    display:inline-block;
}
.axgy_sy .right_axgy_sy .jzcell p.xmjd{
    font-size: 12px;
    line-height: 12px;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje{
    line-height: 40px;
    height:40px;
    margin-top: 35px;
    color:#555;
    font-size: 14px;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje font{
    line-height: 38px;
    border:1px solid #dddddd;
    cursor:pointer;
    display:inline-block;
    padding:0 10px;
    margin-left: 20px;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje font.selected{
    line-height: 36px;
    padding:0 9px;
    border:2px solid #599b30;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje_inp{
    line-height: 40px;
    height:40px;
    margin-top: 10px;
    color:#555;
    font-size: 14px;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje_inp input{
    line-height: 34px;
    height:40px;
    color:#555;
    font-size: 14px;
    text-indent: 10px;
    margin: 0 10px;
    outline: 0;
}
.axgy_sy .right_axgy_sy .jzcell p.jzje_inp input.selected{
    border:1px solid #599b30;
    line-height: 34px;
    height:40px;
}
.axgy_sy .right_axgy_sy .jzcell button{
    width:100%;
    height:50px;
    border:none;
    border-radius: 6px;
    margin-top: 20px;
    color:#fff;
    font-size: 18px;
    cursor:pointer;
    background:#599b30;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    border:none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.axgy_sy .right_axgy_sy .jzcell button:hover{
    background:#3d6f1d;
}
.axgy_sy .ssaxb h1 i.xgbd{
    background: url(../images/axgy/xgbd.jpg) left center no-repeat;
}
.axgy_sy .ssaxb.xgbd p{
    background: url(../images/axgy/xgbd_ht.jpg) left center no-repeat;
    line-height: 54px;
    text-indent: 40px;
    background-position: 10px 17px;
}
.axgy_sy .ssaxb.xgbd p a{
    color:#666;
}
.axgy_sy .ssaxb.xgbd p a:hover{
    color:#599b30;
}
.axgy_sy .ssaxb h1 i.cjwt{
    background: url(../images/axgy/cjwt.jpg) left center no-repeat;
}
.axgy_sy .ssaxb.cjwt p{
    background: url(../images/axgy/cjwt_xq.jpg) left center no-repeat;
    line-height: 54px;
    text-indent: 40px;
    background-position: 10px 17px;
    position: relative;
    overflow: visible;
}
.axgy_sy .ssaxb.cjwt p font{
    color:#666;
    cursor:pointer;
    padding: 0;
    border:none;
}
.axgy_sy .ssaxb.cjwt p font:hover{
    color:#599b30;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt{
    position: absolute;
    left:-340px;
    top:-50px;
    width:292px;
    background:#599b30;
    border-radius: 8px;
    display:block;
    padding: 0 14px;
    font-size: 12px;
    font-family: '宋体';
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 1, 0.2);
    display:none;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt .titl{
    display:block;
    width:100%;
    height:37px;
    overflow: hidden;
    line-height: 37px;
    color:#b1f487;
    text-align: left;
    text-indent: 0;
    border-bottom: 1px solid #b1f487;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt .titl .fr{
    color:#fefffe;
    cursor:pointer;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt .titl .fr:hover{
    color:#666;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt .pop_axcjwt_body{
    color:#fefffe;
    line-height: 24px;
    text-indent: 0;
    padding: 10px 0;
    position:relative;
}
.axgy_sy .ssaxb.cjwt p .pop_axcjwt .pop_axcjwt_body em{
    position:absolute;
    right:-40px;
    top:20px;
    width:26px;
    height:43px;
    display:block;
    background:url(../images/axgy/cjwt_pop.jpg) no-repeat;
}
.axgy_sy .gdxm h1 i.gdxm{
    background: url(../images/axgy/axxm.png) left center no-repeat;
}
.axgy_sy .right_axgy_sy .gdxm ul li{
    padding:10px 0 0 0;
    border:none;
}
.axgy_sy .right_axgy_sy .gdxm .img {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.axgy_sy .right_axgy_sy .gdxm .img a{
    width: 200px;
    height: 150px;
    display:block;
}
.axgy_sy .right_axgy_sy .gdxm .img a font{
    width: 60px;
    height: 20px;
    display:block;
    background:#599b30;
    position: absolute;
    z-index: 99;
    left:0;
    top:0;
    text-align: center;
    line-height: 20px;
    color:#fff;
    font-size: 12px;
    border-bottom-right-radius: 6px;
}
.axgy_sy .right_axgy_sy .gdxm .nr {
    width: 176px;
    height: 140px;
    overflow: hidden;
    padding: 10px 0 0 10px;
    background:#f3f3f3;
    font-size: 12px;
    font-family: '宋体';
}
.axgy_sy .right_axgy_sy .gdxm .nr p{
    font-size: 12px;
    color:#333;
    line-height: 28px;
}
.axgy_sy .right_axgy_sy .gdxm .nr p font{
    color:#555;
}